RewriteEngine On

# 1. Перенаправляємо криві посилання CSS на реальні файли в storage
RewriteCond %{QUERY_STRING} path=([^&]+)
RewriteRule ^CSS/Base/CSS/FetchCSS$ /storage/css/%1? [L,R=301]

# 2. Стандартне правило для чистого URL (те, що просили для Nginx)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
