RewriteEngine On
RewriteBase /

# 1. Якщо файл або папка існують фізично - просто відкриваємо їх
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 2. Якщо файлу немає - відправляємо в index.php
# Додаємо [L], щоб це було останнє правило
RewriteRule ^ index.php [L]
